.accordion.md-accordion.accordion-blocks .card {
    margin-bottom: 0.4rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/*.md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type) {*/
/*    border-bottom: 1px solid #e0e0e0;*/
/*}*/
.md-accordion .card .card-header {
    padding: 1rem 1.5rem;
    background: transparent;
    border-bottom: 0;
}
.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
}
.md-accordion .card .fa-angle-down {
    float: right;
    margin-top: -16px;
}
.md-accordion .card .card-header button:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.accordion .card{
    border-bottom: 0;
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}
.bg-red{
    background: #CD533D!important;
}
.btn-map{
    background: #B63A22!important;
    border-radius: 20px!important;
    padding: 10px 15px;
    color: white!important;
    margin-right: 10px;
    text-decoration: none;
}
.btn-exit{
    background: #B63A22!important;
    border-radius: 20px!important;
    padding: 10px 15px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}
.btn-admin{
    background: #B63A22!important;
    border-radius: 20px!important;
    padding: 10px 15px;
    color: white!important;
    text-decoration: none!important;
    margin-right: 10px;
    cursor: pointer;
}
.btn-red {
    background: #B63A22!important;
    padding: 10px 15px;
    color: white!important;
    text-decoration: none!important;
    margin-right: 10px;
    cursor: pointer;
}
.bg-show{
    background: #FFFFFF;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
}
.bg-red-table{
    background: #F4CCC5!important;
}
.card-body-admin {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26,54,126,0.125);
    border-radius: .25rem;
}
.bg-form {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}
.mark {
    color: blue !important;
}
.btn-green-stage {
    outline: none;
    border: 0;
    padding: 10px 15px;
    color: white!important;
    background: #3AA93F;
    border-radius: 10px;
}
